<h3>Detalles del empleado</h3>
<div>
    <div>
        <label><b>ID : </b> {{empleado.id}}</label>
    </div>
    <div>
        <label><b>Nombre : </b>{{empleado.nombre}}</label>
    </div>
    <div>
        <label><b>Apellido : </b>{{empleado.apellido}}</label>
    </div>
    <div>
        <label><b>Telefono : </b>{{empleado.telefono}}</label>
    </div>
    <div>
        <label><b>Correo : </b>{{empleado.correo}}</label>
    </div>
    <div>
        <label><b>Fecha de Nacimiento : </b>{{empleado.fecha_de_nacimiento}}</label>
    </div>
    <div>
        <label><b>Tipo de Documento : </b>{{empleado.tipo_documento	}}</label>
    </div>
    <div>
        <label><b>Documento : </b>{{empleado.documento}}</label>
    </div>
</div>